@import 'style-extra/variables.scss';

html {
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	color: $accentColor;
	background-color: $primaryColor;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	font-family: 'Playfair Display', serif;
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 1.72;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: 100;
	line-height: 1.7;
}
p {
	font-size: 1.6rem;
}
ul {
	list-style: none;
}
main,
li {
	display: block;
}
h1,
h2,
h3,
h4 {
	font-size: inherit;
}
strong {
	font-weight: bold;
}
a,
button {
	color: inherit;
	transition: .3s;
	padding: 0;
}
a {
	text-decoration: none;
}
button {
	overflow: visible;
	border: 0;
	font: inherit;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
}
::-moz-focus-inner {
	padding: 0;
	border: 0;
}
:focus {
	outline: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
* {
	box-sizing: border-box;
}

main {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

h1 {
	font-size: 6rem;
	@media screen and (min-width: 1080px) {
		font-size: 14rem;
	}
}

h2 {
	font-size: 4rem;
	@media screen and (min-width: 1080px) {
		font-size: 8rem;
	}
}

h3 {
	font-size: 2rem;
	@media screen and (min-width: 1080px) {
		font-size: 2.2rem;
	}
}

h4 {
	font-size: 1.8rem;
	@media screen and (min-width: 1080px) {
		font-size: 2rem;
	}
}
